/* Theme Color — Indigo */
.theme-color-indigo {
  --primary: oklch(0.457 0.24 277.023);
  --primary-foreground: oklch(0.962 0.018 272.314);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --sidebar-primary: oklch(0.511 0.262 276.966);
  --sidebar-primary-foreground: oklch(0.962 0.018 272.314);
}
.theme-color-indigo.dark,
.dark.theme-color-indigo,
.theme-color-indigo .dark,
.dark .theme-color-indigo {
  --primary: oklch(0.398 0.195 277.366);
  --primary-foreground: oklch(0.962 0.018 272.314);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.585 0.233 277.117);
  --sidebar-primary-foreground: oklch(0.962 0.018 272.314);
}
