.app-loading {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.app-loading-text {
  font-size: 0.875rem;
  color: #222;
}

.dark .app-loading {
  background-color: #222;
}

.dark .app-loading-text {
  color: #eee;
}

@media (prefers-color-scheme: dark) {
  .app-loading {
    background-color: #222;
  }

  .app-loading-text {
    color: #eee;
  }
}

.electron.app-loading {
  background-color: #222;
}

.electron.app-loading .app-loading-text {
  color: #eee;
}
