.chart-color-mauve {
  --chart-1: oklch(0.865 0.012 325.68);
  --chart-2: oklch(0.542 0.034 322.5);
  --chart-3: oklch(0.435 0.029 321.78);
  --chart-4: oklch(0.364 0.029 323.89);
  --chart-5: oklch(0.263 0.024 320.12);
}
.chart-color-mauve.dark {
  --chart-1: oklch(0.865 0.012 325.68);
  --chart-2: oklch(0.542 0.034 322.5);
  --chart-3: oklch(0.435 0.029 321.78);
  --chart-4: oklch(0.364 0.029 323.89);
  --chart-5: oklch(0.263 0.024 320.12);
}
